@font-face {
    font-family: 'Clear Sans';
    src: url('font/ClearSans-Bold.eot');
    src: url('font/ClearSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('font/ClearSans-Bold.woff2') format('woff2'),
        url('font/ClearSans-Bold.woff') format('woff'),
        url('font/ClearSans-Bold.ttf') format('truetype'),
        url('font/ClearSans-Bold.svg#ClearSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family:
}

html {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  /* height: 100%; */
  font-family: 'Clear Sans';
  max-height: 90%;
}

#container {
  display: flex;
  /* height: 100%; */
  max-height: 90%;
  align-items: center;
  flex-direction: column;

  overflow: visible;

  margin-top: 0;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#game {
  width: 100%;
  max-width: 500px;
  /* height: 100%; */
  max-height: 90%;
  display: flex;
  flex-direction: column;

  overflow: visible;
}

header {
  border-bottom: 1px solid rgb(58, 58, 60);
}

.title {
  color: gainsboro;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.4rem 0 0.4rem 0;
  text-align: center;
  font-family: 'Clear Sans';
}

#board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: visible;

  margin-top: 15vh;
  margin-bottom: 50px;
}

#board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.square {
  /* border: 2px solid rgb(58, 58, 60); */
  background-color: rgb(38, 38, 38);

  min-width: 60px;
  min-height: 60px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
}

.flip {
  animation: 0.5s linear flipping;
}

#keyboard-container {
  height: 200px;
  bottom: 0;

  position: fixed;
  width: 500px;
}

@media screen and (max-width: 500px) {
  #keyboard-container {
    width: 100vw;
  }

  .keyboard-row {
    width: 100%;
    padding-left: 15px;
    padding-right: 9px;
  }
}

.keyboard-row {
  display: flex;
  justify-content: center;
  margin: 0 auto 8px;
  touch-action: manipulation;

  width: auto;
  padding-left: 15px;
  padding-right: 9px;
}

.keyboard-key {
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  height: 58px;
  cursor: pointer;
  flex-grow: 1;
  text-transform: uppercase;
  margin-right: 6px;
  border-radius: 4px;
  user-select: none;

  color: white;
  background-color: #818384;
}

.keyboard-row button.wide-button {
  flex-grow: 1.5;
}

.spacer-half {
  flex-grow: 0.5;
}

@keyframes spirit-glow {
  0% {
    -webkit-box-shadow: 0 0 10px 2px #588eb5, inset 0 0 3px #588eb5;
    -moz-box-shadow: 0 0 10px 2px #588eb5, inset 0 0 3px #588eb5;
    box-shadow: 0 0 10px 2px #588eb5, inset 0 0 3px #588eb5;
  }
  50% {
    -webkit-box-shadow: 0 0 10px 5px #588eb5, inset 0 0 10px #588eb5;
    -moz-box-shadow: 0 0 10px 5px #588eb5, inset 0 0 10px #588eb5;
    box-shadow: 0 0 10px 5px #588eb5, inset 0 0 10px #588eb5;
  }
  100% {
    -webkit-box-shadow: 0 0 10px 2px #588eb5, inset 0 0 3px #588eb5;
    -moz-box-shadow: 0 0 10px 2px #588eb5, inset 0 0 3px #588eb5;
    box-shadow: 0 0 10px 2px #588eb5, inset 0 0 3px #588eb5;
  }
}

.flipin {
  animation-name: flipIn;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
}

@keyframes flipIn {
  0% {
    transform: rotateX(0);
  }
  50% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0);
  }
}

@media screen and (max-height: 900px) {
  #board-container {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  #container {
    padding-top: calc(50vh - 300px);
    padding-bottom: calc(50vh - 400px);
  }

  .square {
    font-size: 20px;
    min-width: 50px;
    min-height: 50px;
  }

  .keyboard-row button {
    height: 50px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.bounce {
  -webkit-animation: bounce 1s 1;
  animation: bounce 1s 1;
}

/* Scroll down indicator (bouncing) */
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px); } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px); }
  }

#settingsheadernav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  background: #121213;
  padding-top: 15px;
  padding-bottom: 0px;

  height: 50px;
  width: 100%;

  text-align: center;

  border-bottom: 1px solid #3a3a3c;
}

.settings-left-nav {
  height: 20px;
  width: 20px;
  margin-left: 12px;
  float: left;

  margin-top: -19px;

  cursor: pointer;
}

.settings-right-nav {
  height: 20px;
  width: 20px;
  margin-right: 12px;
  float: right;

  margin-top: -19px;

  cursor: pointer;
}

/* The Overlay (background) */
.settings-overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100vh;
  width: 100vw;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: -110vw;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 1); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */

  z-index: 9999;
}

#settings-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;

  cursor: pointer;
  float: right;
  margin-right: 60px;
  margin-top: 4px;
}

#help-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;

  cursor: pointer;
  float: left;
  margin-left: 60px;
  margin-top: 4px;
}

/* Position the content inside the overlay */
.settings-overlay-content {
  position: relative;
  top: 0; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: left; /* Centered text/links */
  margin-top: 50px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  /* margin-left: 30px; */

  margin-bottom: 100px;

  text-align: center;
}

.settings-div {
  width: 300px;
  text-align: left;

  float: left;
  clear: none;
}

.theme-div {
  width: 350px;
  text-align: left;
  margin: auto;
}

.theme-div-header {
  width: 350px; margin: auto; text-align:left; font-size: 25px;
}

.theme-display-text {
  float:right; font-size: 20px; margin-top: 5px; color: #C9C9C9; font-weight:normal;
}

.theme-div button {
  width: 45px;
  height: 45px;

  border: 0px solid rgba(255, 255, 255, 0);
  border-radius: 5px;

  margin-right: 11px;
  margin-top: 20px;

  cursor: pointer;
}

#modes-div button {
  border: 0px solid rgba(0, 0, 0, 0.55);
}

#modes-div .chosen {
  border: 2px solid limegreen;
}

#modes-div .chosen.special {
  border: 2px solid gold;
}

.theme-div button:nth-child(6n) {
  margin-right: 0px;
}

.theme-div button:last-child {
  margin-right: 0px;
}

.theme-div .selected {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 20px;
  border: none;
  width: 15px !important;
  height: 15px !important;
  background-color: limegreen;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #FFF;
  font-weight: 700;

  top: -21px;
  right: -32px;

  opacity: 0;

  border: 2px solid limegreen;
  filter: drop-shadow(0px 0px 5px black);
}

.theme-div .selected.show {
  opacity: 1;
}

.theme-div button.chosen {
  border: 2px solid limegreen;
}

.theme-div button.chosen.special {
  border: 2px solid gold;
}

.theme-div button.chosen.special .selected {
  background-color: gold;
  border: 2px solid gold;
}

.theme-div button.chosen .selected {
  opacity: 1;
}

label {
  float: left;
  clear: none;
  display: block;
  padding: 0px 1em 0px 8px;
}

input[type=radio] {
  float: left;
  clear: none;
  margin: 2px 0 0 2px;
}

/* The navigation links inside the overlay */
.settings-overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.settings-overlay a:hover, .settings-overlay a:focus {
  color: #f1f1f1;
}

#fsoverlay {
  width: 100vw; height: 100vw; background-color: #161616; z-index: 9000; position: fixed;
}

#top-message-div {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.4)); left: -105vw; transition: none; position: fixed; z-index: 12001; width: 100vw; margin: auto; margin-top: 15px; display: flex; text-align: center; height: auto; background-color: #ffffff00;
}

#top-message {
  margin: auto; width: auto; top: 80px; justify-content: center; text-align: center; font-family: 'Clear Sans'; font-weight: bold; z-index: 12000; color: black; font-size: 16px; height: auto; padding: 20px; border: none; border-radius: 5px; background-color: white;
}

#fs-transparent {
  position: fixed; left: -105vw; width: 100vw; top: 0; bottom: 0; background-color: rgba(0, 0, 0, .7); z-index: 11000;
}

#overlayResults {
  left: -105vw; z-index: 11001; width: 350px; height: auto; position: absolute; background-color: #FAF9F6; border-radius: 10px; text-align: center; margin-left: calc(50vw - 175px); top: calc(50vh - 300px);
}

#share-closebtn {
  margin-top: 15px; margin-right: 15px; background-color: #161616; padding: 10px; border-radius: 5px;
}

#results-title {
  margin-top: 65px; font-family:'HODLE'; margin-bottom: 10px; color: #161616;
}

#results-squares {
  font-size: 20px; margin-top: 30px; font-weight: normal;
}

#results-share {
  cursor: pointer; margin-top: 10px; margin-bottom: 20px; background-color: #279c4e; height: 60px; width: 310px; border-radius: 5px; border: none; font-size: 22px; color: white; font-family:'Clear Sans'; font-weight: bold;
}

#settingslogo {
  text-align: center; height: 40px; margin-left: 50px;
}

#settings-closebtn-x {
  height: 20px;
}

#howtoplaylogo {
  text-align: center; height: 40px; margin-left: 55px;
}

#howto-closebtn-x {
  height: 20px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .settings-overlay a {font-size: 20px}
}

@media screen and (max-width: 470px) {
  #howtoplaylogo {
    left: 12px;
    margin-left: 0px;
    position: absolute;
  }
  #settingslogo {
    left: 10px;
    margin-left: 0px;
    position: absolute;
  }
  #howto-closebtn-x {
    height: 17px;
  }
  #settings-closebtn-x {
    height: 17px;
  }
  #howtoheadernav {
    padding-top: 10px;
  }
  #settingsheadernav {
    padding-top: 10px;
  }
}
